@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body{
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply bg-black hover:bg-white hover:border-black hover:border-[1px] hover:text-black transition-all duration-500  rounded-full text-white w-full
  }

  .btn-w{
    @apply bg-white hover:bg-black hover:text-white transition-all duration-500 rounded-full text-black w-full border-[2px] border-black 
  }

  .btn-m {
    @apply font-[700] text-[14px] 
  }
 
 
  .btn-m-large{
    @apply  text-[16px]
  }
  .btn-d {
    @apply font-[800] text-[18px]
  }
 
  .btn-d-big {
    @apply w-full
  }

  .text{
    @apply laptop:text-[18px] text-[12px]
  }
}